<br>

<mat-card style="margin-left: 240px; margin-right: 240px">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <form class="form" [formGroup]="service.formModel" autocomplete="off" (submit)="addDoctor()">
                <div class="form-group required">
                    <label>Doctor Name</label>
                    <input type="text" class="form-control" [(ngModel)]="doctor.name" formControlName="DoctorName">
                    <!-- <label class="text-danger" *ngIf="service.formModel.get('StudentName').touched && service.formModel.get('StudentName').errors?.required">This field is mandatory</label> -->
                </div>
    
                <div>
                    <div class="form-group required">
                        <label>Password</label>
                        <input type="password" class="form-control" [(ngModel)]="doctor.password" formControlName="Password">
                        <!-- <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label> -->
                        <!-- <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 character required.</label> -->
                    </div>
                    <div class="form-group required">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" [(ngModel)]="confirmPassword" formControlName="Password">
                        <!-- <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label> -->
                        <!-- <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label> -->
                    </div>
                </div>
                <br>
                <div class="form-row" *ngIf="doctor.password==confirmPassword">
                    <div class="form-group col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-lg btn-block" >Sign Up</button>
                        <br>
                    </div>
                    
                </div>

                <div class="form-row" *ngIf="doctor.password!=confirmPassword">
                    <div class="form-group col-md-11 offset-md-1">
                        <h3>Please give same value as password in confirm password</h3>
                        <br>
                    </div>
                    
                </div>

            </form>
        </div>
    </div>
</mat-card>

